@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  /* based 1 bit monitor glow by Polyducks https://lospec.com/palette-list/1bit-monitor-glow */
  --col1: #222323;
  --col2: #f0f6f0;
  --border: solid 4px var(--col02);
}
/* Change custom properties if user prefers light mode */
@media (prefers-color-scheme: light) {
  :root {
    --col01: #f0f6f0;
    --col02: #222323;
  }
}

body {
  font-family: "Work Sans", serif;
  background-color: var(--col01);
  color: var(--col02);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
}

hr{
  width: 10%;
}

footer {
}